*.o
*.a
bin/
lib/
libexec/
/dirs
deps.mk
*.gcno
*.gcda
/deps
/src/cmd/scc-addr2line
/src/cmd/scc-objcopy
/src/cmd/scc-objdump/scc-objdump
/src/cmd/scc-size
/src/cmd/scc-strip
/src/cmd/scc-ar
/src/cmd/scc-nm
/src/cmd/scc-ranlib
/src/cmd/scc-as/scc-as
/src/cmd/scc-as/as-amd64
/src/cmd/scc-as/as-i286
/src/cmd/scc-as/as-i386
/src/cmd/scc-as/as-ppc
/src/cmd/scc-as/as-ppc64
/src/cmd/scc-as/as-z80
/src/cmd/scc-cc/cc1/cc1
/src/cmd/scc-cc/cc2/cc2-amd64-sysv
/src/cmd/scc-cc/cc2/cc2-i386-sysv
/src/cmd/scc-cc/cc2/cc2-qbe_amd64-sysv
/src/cmd/scc-cc/cc2/cc2-qbe_arm64-sysv
/src/cmd/scc-cc/cc2/cc2-z80-scc
/src/cmd/scc-cc/posix/scc
/src/cmd/scc-cc/posix/scc-cc
/src/cmd/scc-cc/posix/scc-cpp
/src/cmd/scc-ld/scc-ld
/src/cmd/scc-make/scc-make
/config.mk
makefile
