*.o
*.a
bin/
lib/
libexec/
dirs
*.gcno
*.gcda
/src/cmd/scc-addr2line
/src/cmd/scc-objcopy
/src/cmd/scc-objdump
/src/cmd/scc-size
/src/cmd/scc-strip
/src/cmd/scc-ar
/src/cmd/scc-nm
/src/cmd/scc-ranlib
/src/cmd/as/as-amd64
/src/cmd/as/as-i286
/src/cmd/as/as-i386
/src/cmd/as/as-powerpc
/src/cmd/as/as-powerpc64
/src/cmd/as/as-z80
/src/cmd/cc/cc1/cc1
/src/cmd/cc/cc1/cpp-bug.c
/src/cmd/cc/cc1/f.c
/src/cmd/cc/cc1/len-macro.c
/src/cmd/cc/cc2/cc2-amd64-sysv
/src/cmd/cc/cc2/cc2-i386-sysv
/src/cmd/cc/cc2/cc2-qbe_amd64-sysv
/src/cmd/cc/cc2/cc2-qbe_arm64-sysv
/src/cmd/cc/cc2/cc2-z80-scc
/src/cmd/cc/posix/scc
/src/cmd/cc/posix/scc-cc
/src/cmd/cc/posix/scc-cpp
/src/cmd/ld/scc-ld
/src/cmd/make/scc-make
/config.mk
